language: cpp
sudo: true
compiler:
    - gcc
before_install:
    - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
    - sudo apt-get update -qq
install:
    - sudo apt-get install -qq gcc-4.8 g++-4.8 
    - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.8 90
before_script:
    - mkdir build/new_cmake
    - mkdir build/htslib
    - mkdir build/boost_install
    - wget -qO- http://www.cmake.org/files/v3.1/cmake-3.1.0-Linux-x86_64.tar.gz | tar xz --strip-components 1 -C build/new_cmake/
#    - sudo apt-get install libboost-all-dev
    - wget -qO- http://downloads.sourceforge.net/project/boost/boost/1.57.0/boost_1_57_0.tar.bz2 | sudo tar xj -C build/boost_install/
    - pwd && ls && ls build && ls build/boost_install && ls build/boost_install/boost_1_57_0
    - cd build/boost_install/boost_1_57_0 
    - pwd && ls
    - sudo ./bootstrap.sh 
    - sudo ./b2 install && cd ../../..
    - pwd && sudo ls /usr/local/
    - wget -qO- https://github.com/samtools/htslib/releases/download/1.2.1/htslib-1.2.1.tar.bz2 | tar xj -C build/htslib/ --strip-components 1
    - cd build/htslib && sudo ./configure && sudo make && sudo make install && cd ../.. 
    - mkdir build/eigen
    - wget -qO- http://bitbucket.org/eigen/eigen/get/3.2.4.tar.bz2 | tar xj -C build/eigen/ --strip-components 1 
    - cd build/eigen && mkdir build_dir && cd build_dir && sudo cmake .. && sudo make install && cd ../../..
    - sudo git clone https://github.com/kaeldai/testdata.git ../testdata
cache:
  directories:
  - build/eigen
  - build/htslib
script:
    - cd build
    - ./new_cmake/bin/cmake -DBOOST_ROOT=/usr/local/ ..
#    - ./new_cmake/bin/cmake -DBUILD_EXTERNAL_PROJECTS=1 ..
    - make
    - sudo make test